<h2 class="ui center aligned icon header">
  <i class=" inverted orange circular coffee icon"></i>
  Get Chatting!
</h2>

<%# FEED %>
<div class="ui two column grid">


  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui feed">
          <div class="event">
            <div class="label">
              User
            </div>
            <div class="content">
              <div class="summary">
                <em class="user">Jenny Hess</em>:  Test Message
              </div>
            </div>
          </div>
        </div>
      </div>
       <div class="extra content">
        <form class="ui reply form">
          <div class="field">
            <div class="ui fluid icon input">
              <input type="text" placeholder="Type your message">
              <i class="bordered inverted orange edit icon"></i>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

<%# CHAT BOX  %>

  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class = "content">
        <div class="ui inverted vertical menu">
          <a class="active item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
</div>